<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Feminist Open Source Group</title>
    <link href="https://fonts.googleapis.com/css?family=Barlow:400,400i" rel="stylesheet">
    <link rel="stylesheet" href="./main.css" />
  </head>
  <body>

    <div class="outer">

      <div class="inner">

        <div class="content">

          <aside class="aside prose prose--small">
            <p>Check back for feminist resources, readings, and news about the FemOS group. Feel free to reach out and say&nbsp;hello.</p>
            <p><a href="mailto:hello@feministopensource.group">hello@feministopensource.group</a></p>
          </aside>

          <main class="main">

            <section class="section prose prose--large">
              <p>As open source investigators, we tell stories. Stories in between the ones on the news, from beneath the digital debris, and on our screens. We wanted to learn how to amplify the stories that we don’t often hear or struggle to see&mdash;the ones that get lost behind data points, in the blind spots of youtube videos, in the corners of facebook. So, we began to ask: What would a feminist open source investi&shy;gation look&nbsp;like?</p>

              <p>From the intersection of media, tech and civil society, our collective is following this line of inquiry to forge a feminist methodo&shy;logy for open source investi&shy;gations. We are building an ethical feminist conscious&shy;ness rooted in the tenets of care, intersec&shy;tionality and equity. How can we design for ambiguity? How can we widen path&shy;ways of account&shy;ability? How can we better remember the narratives of open source&nbsp;data?</p>

              <p>Join us on this journey as we build a new way to&nbsp;remember.</p>

              <p>In peace and power,<br>
              The FemOS Group</p>
            </section>

            <section class="section prose--large">
              <h3>Early outputs</h3>
              <ul>
                <li><em>What Would A Feminist Open Source Investi&shy;gation Look&nbsp;Like?</em><br>
                Article for the Journal of Digital War, April 2020</li>

                <li><em>An Incomplete Index of Protest</em><br>
                Data visualisation and moni&shy;toring project, forthcoming</li>

                <li><em>A Feminist Open Source Investi&shy;gations Manifesto</em><br>
                Group manifesto, forthcoming</li>
              </ul>
            </section>
          </main>
        </div>

      </div>

      <div class="background" aria-hidden="true">
        <div class="letter letter--f">
          {% include "drawing-f.svg" %}
        </div>

        <div class="letter letter--o">
          {% include "drawing-o.svg" %}
        </div>

        <div class="letter letter--s">
          {% include "drawing-s.svg" %}
        </div>

        <div class="letter letter--g">
          {% include "drawing-g.svg" %}
        </div>
      </div>
    </div>

    <script src="./scripts.min.js"></script>
  </body>
</html>
