<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Feminist Open Source Group</title>
    <link href="https://fonts.googleapis.com/css?family=Barlow:400,400i" rel="stylesheet">
    <link rel="stylesheet" href="./main.css" />
  </head>
  <body>

    <div class="outer">

      <div class="inner">

        <div class="content">

          <aside class="aside prose prose--small">
            <p>Check back for resources, workshops and news about how to participate in the FemOS group. All genders welcome. Feel free to reach out and say&nbsp;hello.</p>
            <p><a href="mailto:hello@feministopensource.group">hello@feministopensource.group</a></p>
          </aside>

          <main class="main">

            <section class="section prose prose--large">
              <p>Open source investi&shy;gations are about power relations, so too is feminism. Together we asked: what would a feminist open source investi&shy;gation look like?</p>

              <p>The Feminist Open Source Investigations Group (FemOS) is an alliance of human rights and tech workers. We have been meeting online and in-person in London and New York since October 2019. During this time we have shared our experi&shy;ences of working on investi&shy;gations and writing code; we have discussed and defined our politics; we have worked to build a digital and social structure for the group’s activities.</p>
            </section>

            <section class="section prose--large">
              <h3>Early outputs</h3>
              <ul>
                <li><em>What Would A Feminist Open Source Investi&shy;gation Look&nbsp;Like?</em><br>
                Article for the Journal of Digital War, April 2020</li>

                <li><em>An Incomplete Index of Protest</em><br>
                Data visualisation and moni&shy;toring project, forthcoming</li>
              </ul>
            </section>
          </main>
        </div>

      </div>

      <div class="background" aria-hidden="true">
        <div class="letter letter--f">
          {% include "drawing-f.svg" %}
        </div>

        <div class="letter letter--o">
          {% include "drawing-o.svg" %}
        </div>

        <div class="letter letter--s">
          {% include "drawing-s.svg" %}
        </div>

        <div class="letter letter--g">
          {% include "drawing-g.svg" %}
        </div>
      </div>
    </div>

    <script src="./scripts.min.js"></script>
  </body>
</html>
