<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Feminist Open Source Group</title>
    <link href="https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./main.css" />
  </head>
  <body>

    <main class="main">
      <p>As open source investigators, we tell stories. Stories in between the ones on the news, from beneath the rubble, and in the screens of the cyberworld. We wanted to know how to amplify the stories that we are not hearing; the ones that get lost behind data points, in the blind spots of youtube videos, in the corners of facebook. So, we began to ask: what does a feminist open source investigation look like?</p>

      <p>From the intersection of tech and human rights, our collective journeys through this inquiry to forge a feminist methodology for open source investigation. We are building an ethical feminist consciousness rooted in the tenets of care, intersectionality and equity. How can we visualize data differently? How can we widen pathways of accountability? How can we better remember the narratives of open source data?</p>

      <p>Join us on this journey as we build a new way to remember.</p>

      <p>In peace and power,<br>
      The FemOS Group</p>

      <p>P.S. Check back for access to feminist resources, readings, and news about the FemOS group. Feel free to reach out and say hello.</p>
      <p><a href="mailto:hello@feministopensource.group">hello@feministopensource.group</a>.</p>
    </main>

    <div class="background" aria-hidden="true">
      <div class="letter letter--f">
        {% include "drawing-f.svg" %}
      </div>

      <div class="letter letter--o">
        {% include "drawing-o.svg" %}
      </div>

      <div class="letter letter--s">
        {% include "drawing-s.svg" %}
      </div>

      <div class="letter letter--g">
        {% include "drawing-g.svg" %}
      </div>
    </div>

    <script src="./scripts.min.js"></script>
  </body>
</html>
