@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 300;
  src: local("IBM Plex Mono Light"), local("IBMPlexMono-Light"),
    url("fonts/IBM-Plex-Mono/fonts/split/woff2/IBMPlexMono-Light.woff2")
      format("woff2");
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00A3, U+00A4-00FF, U+0131,
    U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E,
    U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+2074, U+20AC, U+2122,
    U+2212, U+FB01-FB02;
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: calc(3vw + 1vh + 0.5vmin);
  font-family: "IBM Plex Mono", "Menlo", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", Courier, monospace;
  margin: 0;
  position: relative;
}

a {
  color: inherit;
  text-decoration-thickness: 0.125rem;
}

a:hover,
a:focus {
  text-decoration: none;
}

.main {
  color: white;
  padding: 3vw 3.5vw 6vw;
  position: relative;
  z-index: 100;
}

.main > *:first-child {
  margin-top: 0;
}

.main > *:last-child {
  margin-bottom: 0;
}

.background {
  background-color: black;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.letter {
  height: 100%;
  mix-blend-mode: exclusion; // difference could also work
  // mix-blend-mode: lighten;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.letter svg {
  display: block;
  filter: blur(calc(3vw + 3vh + 0.5vmin));
  height: auto;
  position: absolute;
  width: 100%;
}

.letter--f {
  opacity: 0.4;
  svg {
    left: -10%;
  }
  path {
    fill: red;
  }
}

.letter--o {
  opacity: 0.4;
  svg {
    right: -25%;
    top: 0;
  }
  path {
    fill: orange;
  }
}

.letter--s {
  opacity: 0.4;
  svg {
    bottom: 0;
    left: -25%;
  }
  path {
    fill: mediumblue;
  }
}

.letter--g {
  opacity: 0.3;
  svg {
    bottom: 0;
    right: -10%;
  }
  path {
    fill: limegreen;
  }
}
