$sm: 600px;
$md: 950px;
$lg: 1200px;

html {
  box-sizing: border-box;
  font-size: 14px;
  min-height: 100vh;
  -webkit-text-size-adjust: 100%;
  @media (min-width: $sm) {
    font-size: 16px;
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  display: flex;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  hyphens: manual;
  line-height: 3;
  margin: 0;
  min-height: 100vh;
}

.outer {
  background-color: black;
  display: flex;
  position: relative;
  width: 100%;
}

.inner {
  background-image: linear-gradient(transparent 4%, rgba(255, 255, 255, 1) 4%);
  background-size: 3rem 3rem;
  padding: 3rem 0;
  position: relative;
  width: 100%;
  z-index: 100;
  @media (min-width: $sm) {
    padding: 3rem 1rem 3.15rem;
  }
  @media (min-width: $md) {
    padding: 3rem 2rem 3.15rem;
  }
}

.content {
  margin: 0 auto;
  max-width: 95rem;
  @media (min-width: $md) {
    display: flex;
  }
}

.aside {
  margin: 0 0 3rem;
  max-width: 30rem;
  padding: 0 1rem;
  @media (min-width: $md) {
    flex-shrink: 0;
    margin: 9rem 0 3rem;
    max-width: none;
    min-width: 18rem;
    width: 25%;
  }
  @media (min-width: $lg) {
    margin: 12rem 0 3rem;
  }
}

.main {
  padding: 0 1rem;
}

.background {
  bottom: 0;
  filter: blur(1.25rem);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.letter {
  height: 100%;
  mix-blend-mode: exclusion; // difference could also work
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.letter svg {
  display: block;
  height: auto;
  position: absolute;
  width: 100%;
}

.letter--f {
  // opacity: 0.4;
  svg {
    left: -10%;
  }
  path {
    fill: red;
  }
}

.letter--o {
  // opacity: 0.4;
  svg {
    right: -25%;
    top: 0;
  }
  path {
    fill: orange;
  }
}

.letter--s {
  // opacity: 0.4;
  svg {
    bottom: 0;
    left: -25%;
  }
  path {
    fill: mediumblue;
  }
}

.letter--g {
  // opacity: 0.3;
  svg {
    bottom: 0;
    right: -10%;
  }
  path {
    fill: limegreen;
  }
}

.prose--large {
  font-size: 2rem;
  line-height: 1.5;
}

.prose > *:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: inherit;
  line-height: 3;
  margin: 6rem 0 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 3rem;
}

p {
  margin-bottom: 3rem;
  margin-top: 0;
}

a {
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: none;
}
